antlr4-python3-runtime==4.7.1
ConfigArgParse==1.5.3
configparser==5.2.0
dateparser==1.1.1
Flask==2.0.3
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
gunicorn==21.2.0
influxdb==5.3.1
Jinja2==3.0.3
jsonschema==3.2.0
matplotlib==3.5.1
numpy==1.22.1
prometheus-api-client==0.5.0
python-monitors==0.1.1
regex==2022.3.2
requests==2.27.1
requests-unixsocket==0.2.0
soupsieve==2.3.1
beautifulsoup4==4.10.0
bs4==0.0.1
Werkzeug==2.2.2